################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFC.Configuration/bin
/DFC.Configuration/obj
/DFC.Configuration.AzureTableStorage/bin
/DFC.Configuration.AzureTableStorage/obj
/DFC.Configuration.FileStorage/bin
/DFC.Configuration.FileStorage/obj
/DFC.Configuration.UnitTests/bin
/DFC.Configuration.UnitTests/obj
/GettingConfiguration/bin
/GettingConfiguration/obj
/packages
/DFC.Configuration.UnitTests/DFC.Configuration.UnitTests.csproj.user
/GettingConfiguration/GettingConfiguration.csproj.user
/DFC.Configuration.FileStorage/DFC.Configuration.FileStorage.csproj.user
/DFC.Configuration.AzureTableStorage/DFC.Configuration.AzureTableStorage.csproj.user
/DFC.Configuration.AzureTableStorage/DFC.Configuration.AzureTableStorage.1.0.0.nupkg
/DFC.Configuration/DFC.Configuration.csproj.user
/DFC.Configuration/DFC.Configuration.1.0.0.nupkg
